.card-discussions {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.card-discussions-show-avatar-wrapper {
    width: 32px;
    height: 32px;
}

.card-discussion-delete-btn {
    position: relative;
    top: -2px;

    &:hover {
        color: $blue-600;
    }
}
